div#general{
    background-color: rgb(54, 173, 202);
    border: solid 2px darkcyan;
    height: 60px;
    width: 150px;
    align-items: center;
    color: white;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
}
